.ItemCart{ 
    width: 350px;
    height: 400px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
    display: inline-block;
    box-shadow:-1px 6px 28px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 6px 28px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 28px -3px rgba(0,0,0,0.75);
    text-decoration: none;
    font-weight: bold;
   
}

.ItemCart img{
    height: 150px;
    width: 150px;
    margin: 5px;
}

.ItemCart h1{
    font-size: 15px;
}

.ItemCart h2{
    font-size: 15px;
}

.ItemCart p{
    font-size: 15px;
}

